USE [master]
GO
/****** Object:  Database [CPTS451PROJECT]    Script Date: 3/8/2014 12:38:34 PM ******/
CREATE DATABASE [CPTS451PROJECT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CPTS451PROJECT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CPTS451PROJECT.mdf' , SIZE = 375808KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CPTS451PROJECT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CPTS451PROJECT_log.ldf' , SIZE = 32448KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CPTS451PROJECT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CPTS451PROJECT]
GO
/****** Object:  Table [dbo].[Business]    Script Date: 3/8/2014 12:38:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Business](
	[b_id] [char](64) NOT NULL,
	[name] [varchar](512) NOT NULL,
	[stars] [float] NOT NULL,
	[r_count] [int] NOT NULL,
	[is_open] [bit] NOT NULL,
	[address] [varchar](512) NOT NULL,
	[city] [char](16) NOT NULL,
	[us_state] [char](16) NOT NULL,
	[latitude] [float] NOT NULL,
	[longitude] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[b_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/8/2014 12:38:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[b_id] [char](64) NOT NULL,
	[name] [varchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[b_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CheckIn]    Script Date: 3/8/2014 12:38:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CheckIn](
	[b_id] [char](64) NOT NULL,
	[time] [char](6) NOT NULL,
	[count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[b_id] ASC,
	[time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 3/8/2014 12:38:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Reviews](
	[r_id] [char](64) NOT NULL,
	[u_id] [char](64) NOT NULL,
	[stars] [float] NOT NULL,
	[text] [varchar](max) NOT NULL,
	[date] [date] NOT NULL,
	[funnyVotes] [int] NOT NULL,
	[usefulVotes] [int] NOT NULL,
	[coolVotes] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[r_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/8/2014 12:38:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[u_id] [char](64) NOT NULL,
	[name] [varchar](512) NOT NULL,
	[stars] [float] NOT NULL,
	[r_count] [int] NOT NULL,
	[funnyVotes] [int] NOT NULL,
	[usefulVotes] [int] NOT NULL,
	[coolVotes] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[u_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Business] ADD  DEFAULT ((0)) FOR [stars]
GO
ALTER TABLE [dbo].[Business] ADD  DEFAULT ((0)) FOR [r_count]
GO
ALTER TABLE [dbo].[CheckIn] ADD  DEFAULT ((0)) FOR [count]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((0)) FOR [funnyVotes]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((0)) FOR [usefulVotes]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((0)) FOR [coolVotes]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [stars]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [r_count]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [funnyVotes]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [usefulVotes]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [coolVotes]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD FOREIGN KEY([b_id])
REFERENCES [dbo].[Business] ([b_id])
GO
ALTER TABLE [dbo].[CheckIn]  WITH CHECK ADD FOREIGN KEY([b_id])
REFERENCES [dbo].[Business] ([b_id])
GO
ALTER TABLE [dbo].[Reviews]  WITH NOCHECK ADD FOREIGN KEY([u_id])
REFERENCES [dbo].[Users] ([u_id])
GO
USE [master]
GO
